<%= form_with(model: song) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field my-3">
    <label class="form-label">Titre de la musique + Nom de l'artiste</label>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field my-3">
    <label class="form-label">Lien vers la musique</label>
    <%= form.text_area :link, class: 'form-control' %>
  </div>

  <div class="field my-3">
    <label class="form-label">Lien de la miniature</label>
    <%= form.text_area :thumbnail, class: 'form-control' %>
  </div> 

  <div class="actions my-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
