<p id="notice"><%= notice %></p>

<h1 class="text-center">FindSongs</h1>

<% @songs.each do |song| %>
<div class="card w-50 m-auto mb-5">
  <a href="<%= song.link %>" target="_blank"><img src="<%= song.thumbnail %>" class="card-img-top" alt></a>
  <div class="card-body">
    <h5 class="card-title"><%= song.title %></h5>
    <a href="<%= song.link%>" class="btn btn-success" target="_blank">Ecouter</a>
    <% if song.user == current_user %>
            <%= link_to 'Modifier', edit_song_path(song), class: 'btn btn-warning' %>
            <%= link_to 'Supprimer', song, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
<% end %>
<br>

<% if user_signed_in? %>
<%= link_to 'Ajouter une musique', new_song_path, class: 'btn btn-primary' %>
    <% else %>
    <%= link_to 'Ajouter une musique', new_user_session_path, class: 'btn btn-primary' %>
    <p>Tu dois être connecté pour pouvoir rajouter tes sons.</p>
<% end %>

