<p id="notice"><%= notice %></p>

<h1 class="text-center">FindSongs</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Thumbnail</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song %></td>
        <td><%= song.link %></td>
        <td><%= song.thumbnail %></td>
        <td><%= song.user_id %></td>
        <td>
          <% if song.user == current_user %>
            <%= link_to 'Edit', edit_song_path(song) %>
            <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> -->
<% @songs.each do |song| %>
<div class="card w-50 m-auto mb-5">
  <a href="<%= song.link %>" target="_blank"><img src="<%= song.thumbnail %>" class="card-img-top" alt></a>
  <div class="card-body">
    <h5 class="card-title"><%= song.title %></h5>
    <a href="<%= song.link%>" class="btn btn-warning" target="_blank">Ecouter</a>
    <% if song.user == current_user %>
            <%= link_to 'Edit', edit_song_path(song), class: 'btn btn-secondary' %>
            <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
<% end %>
<br>

<% if user_signed_in? %>
<%= link_to 'New Song', new_song_path, class: 'btn btn-primary' %>
    <% else %>
    <%= link_to 'New Song', new_user_session_path, class: 'btn btn-primary' %>
    <p>Tu dois être connecté pour pouvoir rajouter tes sons.</p>
<% end %>

