<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @song.link %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @song.thumbnail %>
</p>


<%= link_to 'Edit', edit_song_path(@song), class: 'btn btn-primary' %> |
<%= link_to 'Back', songs_path, class: 'btn btn-outline-secondary' %>
