<!DOCTYPE html>
<html>
  <head>
    <title>FindSongs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark px-5 mb-3">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">Accueil
        </a>
        <form class="d-flex">
          <% if user_signed_in? %>
            <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Se connecter', new_user_session_path, class: 'btn btn-outline-light me-5' %>
            <%= link_to "S'inscrire", new_user_registration_path, class: 'btn btn-primary' %>
          <% end %>
        </form>
      </div>
    </nav>
    <div class="container pb-5">
      <%= yield %>
    </div>
  </body>
</html>
